body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
p {
  line-height: 2;
}
.tour {
  text-align: center;
}
.FirstHead {
  margin: 50px auto 0 auto ;
  font-family: 'MonteCarlo', cursive;
  font-size: 562.5%;
  color: #BFA2DB;
}
h2{
  font-size: 2.5rem;
  color: #6E85B2;
  font-weight: normal;
  text-align: center;
}

.cloudBelow {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.TopCloud{
  position:absolute;
  top:50px;
  right: 450px;
  margin-bottom: 25px;
}

.top {
  background-color:  #FDEFEF;
  position: relative;
  padding-top: 100px
}


.middle {
  position: relative;
}
.title {
   text-decoration: underline;
   color: #11999E;
   text-align: center;
}
.tour {
  font-family: 'Merriweather', serif;
}
.middle {
  width : 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.terror1 {
  width : 25%;
  float: left;
  margin-right: 30px;
}
.terror2 {
  width : 25%;
  float: right;
  margin-left: 30px;
}
.terror3 {
  width : 25%;
  float: left;
  margin-right: 30px;
}
.terror4 {
  width : 25%;
  float: right;
  margin-left: 30px;
}

.myButton {
	background-color:#F0D9FF;
	border-radius:25px;
	border:4px solid #F0D9FF;
	display:inline-block;
	cursor:pointer;
	color:#11052C;
	font-family:Verdana;
	font-size:17px;
	padding:19px 17px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#F0D9FF;
}
.myButton:active {
	position:relative;
	top:1px;
}

.bottom {
  background-color: #1c1d1f;
  color: #ffffff;
}
.notify {
  text-align: left;
}
