body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.FirstHead {
  margin: 50px auto 0 auto ;
  font-family: 'MonteCarlo', cursive;
  font-size: 562.5%;
  color: #BFA2DB;
}
h2{
  font-size: 2.5rem;
  color: #6E85B2;
}
.cloudBelow {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.TopCloud{
  position:absolute;
  top:50px;
  right: 450px;
  margin-bottom: 25px;
}

.top {
  background-color:  #FDEFEF;
  position: relative;
  padding-top: 100px
}


.middle {
  position: relative;
}
.title {
   text-decoration: underline;
}
.tour {
  font-family: 'Merriweather', serif;
}
