body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.FirstHead {
  margin-top: 0;
  font-family: 'MonteCarlo', cursive;
  font-size: 60px;
}

.cloudBelow {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.TopCloud{
  position:absolute;
  top:50px;
  right: 450px;
  margin-bottom: 25px;
}

.top {
  background-color:  #FDEFEF;
  position: relative;
  padding-top: 100px
}

.Middle_Head{
  padding-right: 700px;
}
.middle {
  position: relative;
}
.title {
   text-decoration: underline;
}
